html {
    overflow: hidden !important;
}

.compact-style {
    font-size: 12px !important;
    border-style: double !important;
    -webkit-appearance: searchfield !important;
    background-color: #fff !important;
    height: 20px;
}

.v-label {
    font-size: 12px !important;
}

.bordered-container {
    border: 1px solid grey;
    padding: 3px 3px 3px 3px;
    margin: -10px 1px 0 1px !important;
}

.subheader {
    background: #efebde;
    display: inline-block;
    margin-left: 15px;
    &.thin {
        height: 15px;
    }
}

.v-menu__content {
    z-index: 9999 !important;
}