// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$subheader-item-single-height: 15px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px;
$input-label-height: 12px;
$input-icon-height: 12px;
$input-max-height: 30px;
$input-font-size: 12px;
$select-small-chips-dense-selections-min-height: 25px;
